<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thsst2">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.WelcomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CheckStudentRecord"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".activities.CreateStudentRecord"
            android:screenOrientation="portrait"
            android:noHistory="true">

        </activity>
        <activity android:name=".activities.ChooseStudentRecord"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.ChooseModule"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.CameraOverlay"
            android:screenOrientation="portrait"
            android:noHistory="true">

        </activity>
        <activity android:name=".activities.PSCQuestions"
            android:screenOrientation="portrait"
            android:noHistory="true">

        </activity>
        <activity android:name=".activities.FinalMenu"
            android:screenOrientation="portrait"
            android:noHistory="true">

        </activity>
    </application>

</manifest>
